#demo
    #content
        #header
            img(src="/images/example.png")
        #body
            img(src="/images/example{{test}}.png")
            img(src="/images/example{test}.png")
        #footer
            img(src='/images/example.png')
            img(src  =     '/images/example.png')